# Создание обучаюшего датасета для последующих моделей

## Библиотеки

In [79]:
import pandas as pd
import numpy as np

## Загрузка данных

In [2]:
transactions = pd.read_csv('./data_prepared/transactions_train.csv', date_parser='t_dat', dtype={'article_id': str})

## Создание датасета

In [5]:
transactions[transactions['week'] == 0]

,t_dat,customer_id,article_id,price,sales_channel_id,week
31459450,2020-09-16,000fb6e772c5d0023892065e659963da90b1866035558e...,0786022008,0.048441,2,0
31459451,2020-09-16,000fb6e772c5d0023892065e659963da90b1866035558e...,0913272003,0.032288,2,0
31459452,2020-09-16,000fb6e772c5d0023892065e659963da90b1866035558e...,0889669006,0.056508,2,0
31459453,2020-09-16,0010e8eb18f131e724d6997909af0808adbba057529edb...,0237347060,0.033881,1,0
31459454,2020-09-16,0010e8eb18f131e724d6997909af0808adbba057529edb...,0562245001,0.013542,1,0
...,...,...,...,...,...,...
31699756,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,0929511001,0.059305,2,0
31699757,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,0891322004,0.042356,2,0
31699758,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,0918325001,0.043203,1,0
31699759,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,0833459002,0.006763,1,0
31699760,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,0898573003,0.033881,2,0

In [47]:
def create_dataset(transactions: pd.DataFrame, week: int):
    """
    Функция для раздления transactions на обучающие параметры и таргет
    transactions - данные о транзакциях
    week - неделя, которая будет использоваться в качестве таргета
    """
    WEEK_HIST_MAX = 5
    
    target = transactions[transactions['week'] == week].groupby('customer_id')[['article_id', 't_dat']] \
        .apply(lambda x: x.sort_values(by='t_dat', ascending=False).iloc[0]['article_id'])
    target = target.reset_index()
    target.columns = ['customer_id', 'target']
    
    signs = transactions[(transactions['week'] > week) & (transactions['week'] <= week + 5)] \
        .groupby('customer_id')['article_id'].apply(lambda x: ' '.join(x))
    signs = signs.reset_index()
    signs.columns = ['customer_id', 'signs']
    
    trains = signs.merge(target, on='customer_id', how='left')
    trains = trains.dropna()
    trains = trains.reset_index(drop=True)
    
    return trains[['signs', 'target']]

In [48]:
result = create_dataset(transactions, 0)

In [50]:
result

                                                   signs      target
0      0913367001 0904026001 0905914002 0640021012 06...  0827487003
1      0399136061 0732842014 0556255001 0852219003 07...  0757926001
2            0929744001 0865799005 0456163060 0933989002  0158340001
3      0832253003 0915027001 0817086002 0914959001 09...  0871519008
4                       0828067001 0883033001 0399256001  0610776002
...                                                  ...         ...
34555  0429313002 0907696006 0886557004 0905365002 09...  0833459002
34556  0880312005 0624486001 0887659010 0624486064 06...  0624486049
34557  0903581001 0882612004 0464679015 0797892001 08...  0396135007
34558                                         0724906019  0750423010
34559  0895610005 0707269007 0934054002 0834906012 07...  0898573003

[34560 rows x 2 columns]

In [ ]:
from tqdm import tqdm

def create_preference_matrix(dataset: pd.DataFrame):
    total_columns = []
    
    for i in tqdm(range(dataset.shape[0])):
        total_columns += dataset.iloc[i]['signs'].split(' ')
    
    df = pd.DataFrame(columns=total_columns + ['target'], data=np.zeros((dataset.shape[0], len(total_columns) + 1)))
    
    for i in tqdm(range(dataset.shape[0])):
        df.iloc[i, dataset.iloc[i]['signs'].split(' ')] = 1
        df.iloc[i, 'target'] = dataset.iloc[i]['target']
    
    return df

In [ ]:
create_preference_matrix(result)